#app{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box{
    display: flex;
    height: 400px;
    width: 500px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
#input{
    border: 1px solid black;
    height: 30px;
    width: 200px;
    margin-right: 15px;
    border-radius: 7px;
}
#btn{
    padding: 10px;
    border-radius: 7px;
}
#inputarea {
    display: flex;
}
#title {
    margin-bottom: 30px;
}