#screen {
    height: 100vh;
    width: 100vw;      
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#box {
    border: black solid 1px;
    padding: 80px;
}

#h_q {
    font-size: 40px;
}